
# Base settings
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
html_directory = no
manpage_directory = /usr/share/man
sample_directory = no
readme_directory = no
mail_owner = postfix
setgid_group = postdrop

# Listening settings
inet_interfaces = {{ interfaces }}
inet_protocols = {{ protocols }}

# Local/Relay settings
myhostname = {{ myhostname }}
{% if mydomain is defined %}
mydomain = {{ mydomain }}
{% endif %}
{% if myorigin is defined %}
myorigin = {{ myorigin }}
{% endif %}
mydestination =
	$myhostname
	localhost.$mydomain
	localhost
{% for dest in mydestination %}
	{{ dest }}
{% endfor %}
{% if mynetworks is defined %}
mynetworks =
	127.0.0.0/8
	[::1]/128
	[::ffff:127.0.0.0]/104
{% for net in mynetworks|ipwrap %}
	{{ net|ipwrap }}
{% endfor %}
{% else %}
mynetworks_style = host
{% endif %}
relay_domains =
	$mydestination
{% if with_mailman3 %}
	{{ mailman3_maps_scheme }}:{{ mailman3_core_dir }}/data/postfix_domains
{% endif %}
{% for relay in relay_domains %}
	{{ relay }}
{% endfor %}
{% if relayhost is defined %}
relayhost = {{ relayhost }}
{% endif %}

# Delivery/Redirection settings
alias_maps =
	hash:/etc/aliases
	hash:/etc/postfix/aliases.local
{% if with_mailman2 %}
	hash:/etc/mailman/aliases
{% endif %}
{% for alias in alias_maps %}
	{{ alias }}
{% endfor %}
alias_database =
	hash:/etc/aliases
	hash:/etc/postfix/aliases.local
{% for alias in alias_database %}
	{{ alias }}
{% endfor %}
local_recipient_maps =
	$alias_maps
{% if with_mailman3 %}
	{{ mailman3_maps_scheme }}:{{ mailman3_core_dir }}/data/postfix_lmtp
{% endif %}
{% for map in local_recipient_maps %}
	{{ map }}
{% endfor %}
transport_maps =
{% if with_mailman3 %}
	{{ mailman3_maps_scheme }}:{{ mailman3_core_dir }}/data/postfix_lmtp
{% endif %}
{% for map in transport_maps %}
	{{ map }}
{% endfor %}
{% if additional_domains is defined %}
virtual_alias_domains =
{% for dom in additional_domains.keys() %}
	{{ dom }}
{% endfor %}
virtual_alias_maps =
{% for dom_aliases in additional_domains.values() %}
	{{ dom_aliases }}
{% endfor %}
{% endif %}

{% if auth is defined %}
# Auth settings
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
{% if auth == "sasldb" %}
smtpd_sasl_type = cyrus
smtpd_sasl_application_name = smtpd
smtpd_sasl_local_domain = $mydomain
{% endif %}
{% if auth == "dovecot" %}
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
{% endif %}
{% endif %}

{% if tls_method is defined %}
tls_preempt_cipherlist = yes
tls_ssl_options = NO_COMPRESSION
tls_medium_cipherlist = ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA256

# Encryption settings
smtp_use_tls = yes
smtp_tls_protocols = !SSLv2 !SSLv3 !TLSv1
smtp_tls_mandatory_protocols = !SSLv2 !SSLv3 !TLSv1 !TLSv1.1
smtp_tls_CAfile = /etc/pki/tls/cert.pem
smtp_tls_cert_file = {{ cert_file }}
smtp_tls_key_file = {{ key_file }}
smtp_tls_session_cache_database = btree:$data_directory/smtp_tls_session_cache
smtp_tls_ciphers = medium
smtp_tls_loglevel = 1
smtp_tls_security_level = {{ (postfix_version is version_compare('2.11', '>=')) | ternary('dane', 'may') }}
smtp_tls_policy_maps =
    hash:$config_directory/tls_policy_maps
{% if with_mta_sts %}
    socketmap:inet:localhost:8461:postfix
{% endif %}
smtpd_use_tls=yes
smtpd_tls_protocols = !SSLv2 !SSLv3 !TLSv1
smtpd_tls_mandatory_protocols = !SSLv2 !SSLv3 !TLSv1 !TLSv1.1
smtpd_tls_CAfile = /etc/pki/tls/cert.pem
smtpd_tls_cert_file = {{ cert_file }}
smtpd_tls_key_file = {{ key_file }}
smtpd_tls_session_cache_database = btree:$data_directory/smtpd_tls_session_cache
smtpd_tls_dh1024_param_file = {{ dh_file }}
smtpd_tls_ciphers = medium
smtpd_tls_auth_only = yes
smtpd_tls_received_header = yes
smtpd_tls_loglevel = 1
smtpd_tls_security_level = may
{% endif %}

# Security settings
#
header_checks = pcre:$config_directory/header_checks
# with smtpd_delay_reject it is easy to combine restrictions in a single
# list without surprises
# see http://www.postfix.org/SMTPD_ACCESS_README.html#danger
smtpd_delay_reject = yes
smtpd_delay_open_until_valid_rcpt = yes
smtpd_recipient_restrictions =
    permit_mynetworks
{% for restriction in smtpd_recipient_restrictions_common %}
	{{ restriction }}
{% endfor %}
{% if with_postgrey %}
	check_policy_service unix:postgrey/socket
{% endif %}
{% for blacklist in blacklists %}
	reject_rbl_client {{ blacklist }}
{% endfor %}
{% for restriction in smtpd_recipient_restrictions_custom %}
	{{ restriction }}
{% endfor %}
smtpd_etrn_restrictions =
	permit_mynetworks
	reject
smtpd_data_restrictions =
	reject_unauth_pipelining
	reject_multi_recipient_bounce
biff = no
message_reject_characters = \0
qmqpd_error_delay = 5s
smtpd_error_sleep_time = 7s
# for TLSA
smtp_dns_support_level = dnssec

{% if with_mailman2 or with_mailman3 %}
# it’s better for Postfix to not treat owner- and -request addresses specially
owner_request_special = no
{% endif %}

# Relay
maximal_queue_lifetime = {{ maximal_queue_lifetime }}

{% if with_postsrsd %}
# SPF SRS
sender_canonical_maps = tcp:localhost:10001
sender_canonical_classes = envelope_sender
recipient_canonical_maps = tcp:localhost:10002
recipient_canonical_classes= envelope_recipient,header_recipient
{% endif %}

# Miscellaneous settings
recipient_delimiter = +
unknown_local_recipient_reject_code = 550

# Debug settings
debugger_command =
         PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
         ddd $daemon_directory/$process_name $process_id & sleep 5

